Click==7.0
Flask==1.1.1
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
argparse==1.2.1
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
idna==2.8
itsdangerous==1.1.0
requests==2.22.0
soupsieve==1.9.4
urllib3==1.25.6
wheel==0.24.0
wsgiref==0.1.2
